<div class="container mrg20T">
    <div class="info">
        <a href="#/dashboard" class="btn">Back To Dashboard</a>
    </div>
    <div class="row mrg20T">
        <div my-employee="">
        </div>
    </div>
</div>
<br/>

 <my-customer></my-customer>
 <hr>

<br/>

<div my-customers type="name"></div>
<div my-customers type="address"></div>
  
<br/>
<h1>My Basketball Team</h1>
<basketball-player player="basketballPlayer"></basketball-player>
<h2>My Basketball Team (in JSON)</h2>
<div>{{ basketballPlayer }}</div>